<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS FILE -->

    <!-- {% block styling %}
    {% endblock %} -->

    <!-- or -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + data.title +'.css' ) }}">

    <!-- IF ELSE -->
    {% if data.title %}
        <title>{{ data.title }}</title>
    {% else %}
        <title>Flask Project</title>
    {% endif %}
</head>
<body>

    <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">


            <div class="container-fluid">
                <a class="navbar-brand" href="#">Flask Task</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        {% for item in data.Navbar %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/{{ item }}">{{ item }}</a>
                        </li>
                        
                        {% endfor %}
                    
                    </ul>
                </div>
            </div>
    </nav>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='JS/' + data.title +'.js' ) }}"></script>
    <!-- BOOTSTRAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>