{% extends "base.html" %}

{% block content %}

    <h1>This is profile template</h1>
    {{ data.user.first_name }}
    {{ data.user.middle_name }}
    {{ data.user.last_name }}
    {{ data.image }}
    {{ data.age }}

    <!-- <img src="data:image/jpeg;base64,{{ img_data }}" alt="Image"> -->

    <img src="" alt="">

    {% if current_user.profile_image_data %}
        <img src="{{ url_for('static', filename='../../static/profile_images/' + current_user.profile_image_filename) }}" alt="Profile Picture" width="200">
        <img src="{{ '../static/profile_images/' + current_user.profile_image_filename }}" alt="Profile Picture" width="200">
    {% else %}
        <p>No profile picture uploaded</p>
    {% endif %}
    

    <!-- for loop -> 1 bracket with % -->
    <!-- variables -> 2 brackets -->

{% endblock content %}
